<!DOCTYPE html>
<meta charset="UTF-8">

<head>
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS here -->
    <link rel="stylesheet" href="../assets/style.css">
</head>
<header>
        <!-- Header Start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <!--<img src="assets/img/logo/logo.png" alt=""> -->
                E-Commerce
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/store/">Produtos</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                      <li><a class="dropdown-item" href="#">Roupas</a></li>
                      <li><a class="dropdown-item" href="#">Calçados</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Acessórios</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1">Sobre a Loja</a>
                  </li>
                  
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                  <li class="nav-item">
                    <a class="nav-link" href="/login/" tabindex="-1">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/cart/" style='font-size: 30px;' >🛒</a>
                  </li>
                  <div class="toggle-container">
                    <input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label>
                  </div>
                  <div>
                    <a href="javascript:void(changeFontSize('-'))" id='fonte'>

                        🔡 

                     </a>

                     <a href="javascript:void(changeFontSize('+'))" id='fonte'>

                         🔠

                    </a>
                  </div>
                </div>
              </div>
            </div>
        </nav>
        <!-- Header End -->
    
    </header>
    <style>
    #fonte {
      font-size:30px;
      text-decoration: none;
    }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("https://i.pinimg.com/originals/37/83/09/37830988924de37bf9e19ecaa8fe3d58.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 700px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .border{
    background-color: #11111185;
    color: #fff;
    padding: 18px;
    font-size: 25px;
  }

  .section-tittle{
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .footer-area{
    background-color: rgb(255, 194, 172);
  }

  .product_img_slide{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  html{
    --bg: #fff;
    --bg-panel: #ebebeb;
    
    --color-text: #333333;
}
/* dark theme styling - Here, we set data-them as "dark"*/
html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-heading: #0077ff; 
    --color-text: #B5B5B5;
}
body { 
    background-color: var(--bg); /* background color variable */
}



.container h1 {
  margin: 0;
  color: var(--color-heading); /* heading 1 background color variable */
}

.container p {
  color: var(--color-text); /* text-color variable */
  -ms-grid-column-span: 2;
  grid-area: content;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: 2em;
}
input[type=checkbox] { /* styling for input element */
    height: 0;
    width: 0;
    visibility: hidden;
}

label { /* styling for labels */
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: #1ba80e;
    float: right;
    border-radius: 100px;
    position: relative;
}

label:after { /* styling for labels - on toggle */
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input:checked + label { /* conditional check while toggling */
    background: var(--color-heading);
}

input:checked + label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}
body{
  font-size:16px;
}
</style>

<script type="text/javascript">

var min=8;

var max=50;

 

function changeFontSize(opcao) {

   

   // pega todos elementos deste tipo 

   var p = document.getElementsByTagName('div');

   

   // percorre-os

   for(i = 0; i < p.length; i++) {

 

      if(p[i].style.fontSize) {

         var s = parseInt(p[i].style.fontSize.replace("px",""));

      } else {

         var s = 12;

      }

 

      if (opcao=='+') {

        if(s!=max) { s += 1; }

     } else {

        if(s!=min) { s -= 1; }

     }

      p[i].style.fontSize = s+"px"

   }

}
</script>
<script>

    let theme = localStorage.getItem('data-theme');
const checkbox = document.getElementById("switch");
const changeThemeToDark = () =>{
    document.documentElement.setAttribute("data-theme", "dark")
    localStorage.setItem("data-theme", "dark")
    console.log("I give you dark")
}

const changeThemeToLight = () =>{
    document.documentElement.setAttribute("data-theme", "light")
    localStorage.setItem("data-theme", 'light')
    console.log("I give you light")
}

if(theme === 'dark'){
    changeThemeToDark()
}

checkbox.addEventListener('change', ()=> {
    let theme = localStorage.getItem('data-theme');
    if (theme ==='dark'){
        changeThemeToLight()
    }else{
        changeThemeToDark()
    }
   
});
</script>
<script>
  function AddCarrinho(produto, qtd, valor, posicao)
  {
        prod = "produto" + posicao, produto
        var a = localStorage.getItem(prod)
        console.log(a)
        if(a){
            var qntd = "qtd" + posicao, qtd
            var prod = Number(localStorage.getItem(qntd))+1
            localStorage.setItem("qtd" + posicao, prod)
            //localStorage.qntd = Number(localStorage.qntd)+1;
            let total_itens = localStorage.getItem("qtd" + posicao)
            //console.log(total_itens)
        valor = valor * total_itens;
            //var tvalor = "valor" + posicao, valor
            //localStorage.tvalor = valor;
            localStorage.setItem("valor" + posicao, valor);
        alert("Produto adicionado ao carrinho!")
            //alert("Já existo")
        }
        else{
            localStorage.setItem("produto" + posicao, produto);
        localStorage.setItem("qtd" + posicao, qtd);
        valor = valor * qtd;
        localStorage.setItem("valor" + posicao, valor);
        alert("Produto adicionado ao carrinho!");
        }
  }
</script>
  <script>
     var total = 0; // variável que retorna o total dos produtos que estão na LocalStorage.
     var i = 0;     // variável que irá percorrer as posições
     var valor = 0; // variável que irá receber o preço do produto convertido em Float.
     
     for(i=1; i<=99; i++) // verifica até 99 produtos registrados na localStorage
     {
       var prod = localStorage.getItem("produto" + i + ""); // verifica se há recheio nesta posição. 
       if(prod != null) 
       {  
         // exibe os dados da lista dentro da div itens
         document.getElementById("itens").innerHTML += localStorage.getItem("qtd" + i) + " x ";
         document.getElementById("itens").innerHTML += localStorage.getItem("produto" + i);
         document.getElementById("itens").innerHTML += " ";
         document.getElementById("itens").innerHTML += "R$: " + localStorage.getItem("valor" + i) + "<hr>";
         
         // calcula o total dos recheios
         valor = parseFloat(localStorage.getItem("valor" + i)); // valor convertido com o parseFloat()
         total = (total + valor); // arredonda para 2 casas decimais com o .toFixed(2)
       }
     } 
     // exibe o total dos recheios
     document.getElementById("total").innerHTML = "R$"+total.toFixed(2); 
    </script>