<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


        <title>Administrador</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="../admins/index">Administrador</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="pedidos.html">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../sellers">Lojas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../clients">Clientes</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="py-5 text-center">
                <h2>Administrador</h2>
                <!-- <p class="lead">comentarios futuros.</p> -->
            </div>
            <div class="col text-center">
                <a class="btn btn-dark btn-lg" href="pedidos.html" role="button">Pedidos</a>
            </div>
            <div class="row">
                <div class="col  text-center mr-2 " role="group">
                    <ul class="btn-group-vertical">
                        <li class="btn">
                            <a class="btn btn-dark btn-lg " href="../sellers" role="button">Lojas</a>
                        </li>
                    </ul>
                </div>

                <div class="col text-center mr-2 " role="group">
                    <ul class="btn-group-vertical">
                        <li class="btn">
                            <a class="btn btn-dark btn-lg" href="../clients" role="button"> Clientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>    